html, body{
    margin: 0;
    padding: 0;
}

.grid-time { /*biggest grid with left timeline and right*/
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 0;
    margin: 0;
}

.leftColumn, .rightColumn { /*left and right side properties*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 250px);
    grid-gap: 0;
}
.timeline, .timeline-rom, .timeline-bar, .timeline-wien, .timeline-mod{
    height: 390vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8.15rem;
    z-index: -2;
}
.timeline { 
    background-color: #054800;;
  }
  .timeline-rom {
    background-color: #690101;;
  }
  .timeline-bar { 
    background-color: #005a6a;;
  }
  .timeline-wien { 
    background-color: #b07d16;;
  }
  .timeline-mod { 
    background-color: #61440b;;
  }
  
  .line{ /*line inside of the timeline*/
    width: 2px;
    height: 100%;
    background-color: #f6f7f7;
    
  }



/*________________________________renässansen_____________________________________________________________*/
.background-bar { /*background for barrock*/
    --s: 50px;
    --c: #09333d;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#052831 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;}

.JosquinDesPrezBild, .PalestrinaBild, .ThomasTallisBild, .ByrdBild, .GuillaumeDufayBild, .OrlandodiLassoBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.ThomasTallisText, .OrlandodiLassoText, .GuillaumeDufayText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.PalestrinaText, .WilliamByrdText, .JosquinDesPrezText{
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    
}
.PalestrinaText{
    margin-top: -8rem;
}
.WilliamByrdText{
    margin-top: -14rem;
}
.OrlandodiLassoText{
    margin-top: -8rem;
}
.ThomasTallisText{
    margin-top: -12rem;
}
.JosquinDesPrezText{
    margin-top: -8rem;
}
.GuillaumeDufayText{
    margin-top: -4rem;
}
.bildJos, .bildPal, .bildTal, .bildByr, .bildDuf, .bildLas {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center top right;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildJos:hover, .bildPal:hover, .bildTal:hover, .bildByr:hover, .bildDuf:hover, .bildLas:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.textJos, .textPal, .textTal, .textByr, .textDuf, .textLas{
    font-size: 25px;
    
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.bildJos{
    background-image: url('./img/Josquin.png');
}

.bildPal{
    background-image: url('./img/Pal.png');
    background-position: 60% center;
}
.bildTal{
    background-image: url('./img/Thomas_Tallis.png');
    background-position: 70%;
}
.bildByr{
    background-image: url('./img/Byrd.png');
    background-position: 60% center;
}
.bildDuf{
    background-image: url('./img/duf.png');
    background-position: 60% center;
}
.bildLas{
    background-image: url('./img/las.png');
    background-position: 60% center;
}
/*-----------------------------------BARQUE-------------------------------------------------------------*/

 .JanPietersBild, .Johann_Pachelbel, .Vivaldibild, .BachBild, .GeorgHändelBild, .ArrangeloCorelliBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.JanPietersText, .JohannPachelbelText, .AntonioVivaldiText, .GeorgHändelText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.ArrangeloCorelliText, .AntonioVivaldiText, .bachText {
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    
}
.ArrangeloCorelliText{
    margin-top: -2rem;
}
.AntonioVivaldiText{
    margin-top: -2rem;
}
.bachText{
    margin-top: -4rem;
}
.GeorgHändelText{
    margin-top: -5rem;
}
.bildJan, .bildCore, .bildJoh, .bildViv, .bildHänd, .bildBach {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center top right;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildJan:hover, .bildCore:hover, .bildJoh:hover, .bildViv:hover, .bildHänd:hover, .bildBach:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.bildJan {
    background-image: url('./img/jan.png'); 
}

.bildCore{
    background-image: url('./img/Arcangelo_Corelli.png');
    background-position: center;
}
.bildJoh{
    background-image: url('./img/Johann_Pachelbel.png');  
}
.bildViv{
    background-image: url('./img/vivaldi.png');
}

.bildHänd{
    background-image: url('./img/händ.png');
}

.bildBach{
    background-image: url('./img/bach.png');
    background-position: 40% center;
}






  .background-ren { /*background for ren*/
    --s: 50px;
    --c: #193d09;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#0e3105 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}


.textNameV { /*People names*/
    font-size: 50px;
    text-align: left;
    place-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1.5rem;
    
}
.textNameV2 { /*People names*/
    font-size: 50px;
    text-align: left;
    place-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}
.textNameH{
    font-size: 50px;
    text-align: left;
    place-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right: -4rem;
}

.textJan, .textCore, .textPachelbel, .textVivaldi, .textHänd, .textBach{
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}





.streckV{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    
    color: white;
    margin-left: -50px;
    margin-top: -20px;
    overflow: hidden;
    z-index: -1;
}
.streckH{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    
    color: white;
    position: absolute;
    overflow: hidden;
    position: relative;
    float: right;
    margin-right:-50px;
    line-height: 0.5em;
    margin-top: -30px;
    z-index: -1;
}


.streckB{
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    color: white;
    overflow: hidden;
    position: absolute;
    margin-top: 12.5rem;
    margin-left: -350px;
    z-index: -1;
    
}

.årtalV{
    color: white;
    margin-top: -80px;
    font-size: 30px;
    margin-left: 380px;
}
.årtalH{
    color: white;
    font-size: 30px;
    margin-bottom: -20px;
    font-weight: normal;

    
}
.årtal{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: 200px;
    margin-left: 65px;
}
.årtal2{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 333px;
}
/*-------Barque---------*/

/*------WIEN----------*/

.ChristophWillibaldvonGluckBild, .JosephHaydnBild, .MuzioClementiBild, .WolfgangAmadeusMozartBild, .JosephMartinKrausBild, .LudvigVanBeethovenBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.ChristophWillibaldvonGluckText, .MuzioClementiText, .JosephMartinKrausText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.JosephHaydnText, .WolfgangAmadeusMozartText, .LudvigVanBeethovenText{
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    
}
.JosephHaydnText{
    margin-top: -5rem;
}
.MuzioClementiText{
    margin-top: -5rem;
}
.WolfgangAmadeusMozartText{
    margin-top: -7rem;
}
.LudvigVanBeethovenText{
    margin-top: -13rem;
}
.JosephMartinKrausText{
    margin-top: -6rem;
}
.ChristophWillibaldvonGluckText{
    margin-top: -7rem;
}
.bildHay, .bildWof, .bildLud, .bildChr, .bildMuz, .bildMar {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center top right;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildHay:hover, .bildWof:hover, .bildChr:hover, .bildMuz:hover, .bildMar:hover, .bildLud:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.textHay, .textWof, .textLud, .textChr, .textMuz, .textMar{
    font-size: 25px;
    place-self: center;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.bildHay{
    background-image: url('./img/hay.png');
    background-position:  center;
}

.bildWof{
    background-image: url('./img/wof.png');
}
.bildLud{
    background-image: url('./img/bet.png');
    background-position: 40% center;
}
.bildChr{
    background-image: url('./img/gluck.png');
    background-position: 70% center;
}
.bildMuz{
    background-image: url('./img/muz.png');
    background-position: 50% center;
}
.bildMar{
    background-image: url('./img/mar.png');
}

/*________________________________romantiken_____________________________________________________________*/
.background-bar { /*background for romantiken*/
    --s: 50px;
    --c: #09333d;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#052831 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;}

.FranzSchubertBild, .FredericChopinBild, .CamilleSaintSaënsBild, .PjotrIljitjTjajkovskijBild, .EdvardGriegBild, .SergejRachmaninovBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.FranzSchubertText,.EdvardGriegText, .CamilleSaintSaënsText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.PjotrIljitjTjajkovskijText, .FredericChopinText, .SergejRachmaninovText{
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.FranzSchubertText{
    margin-top: -4rem;
}
.FredericChopinText{
    margin-top: -4rem;
}
.CamilleSaintSaënsText{
    margin-top: -4rem;
}
.PjotrIljitjTjajkovskijText{
    margin-top: -6rem;
}
.SergejRachmaninovText{
    margin-top: -8rem;
}
.bildFra, .bildFre, .bildCam, .bildPjo, .bildEdv, .bildSer {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildFra:hover, .bildFre:hover, .bildCam:hover, .bildPjo:hover, .bildEdv:hover, .bildSer:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.textFra, .textFre, .textCam, .textPjo, .textEdv, .textSer{
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.bildFra{
    background-image: url('./img/Schubert.png');
}

.bildFre{
    background-image: url('./img/Chopin.png');
}
.bildCam{
    background-image: url('./img/Saint-Seans.png');
}
.bildPjo{
    background-image: url('./img/tchaikovsky.png');
    background-position: 47% center;
}
.bildEdv{
    background-image: url('./img/Grieg.png');
}
.bildSer{
    background-image: url('./img/Rachmaninov.png');
    background-position: 50% right;
}

/*________________________________modernismen_____________________________________________________________*/
.background-bar { /*background for modernism*/
    --s: 50px;
    --c: #09333d;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#052831 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;}

.ClaudeDebussyBild, .RichardStraussBild, .ErikSatieBild, .MauriceRavelBild, .IgorStravinskijBild, .DmitriDmitriyevichShostakovichBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.ClaudeDebussyText, .IgorStravinskijText, .ErikSatieText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.MauriceRavelText, .RichardStraussText, .DmitriDmitriyevichShostakovichText{
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    
}
.ClaudeDebussyText{
    margin-top: -7rem
}
.RichardStraussText{
    margin-top: -12rem
}
.ErikSatieText{
    margin-top: -9rem
}
.MauriceRavelText{
    margin-top: -12rem
}
.IgorStravinskijText{
    margin-top: -10rem ;
}
.DmitriDmitriyevichShostakovichText{
    margin-top: -14rem;
}
.bildCla, .bildRic, .bildEri, .bildMau, .bildIgo, .bildDmi {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center top right;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildCla:hover, .bildRic:hover, .bildEri:hover, .bildMau:hover, .bildIgo:hover, .bildDmi:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.textCla, .textRic, .textEri, .textMau, .textIgo, .textDmi{
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.bildCla{
    background-image: url('.img/Debussy.png');
}

.bildRic{
    background-image: url('img/Strauss.png');
}
.bildEri{
    background-image: url('img/Satie.png');
}
.bildMau{
    background-image: url('img/Ravel.png');
    background-position: 47% center;
}
.bildIgo{
    background-image: url('img/Stravinskij.png');
}
.bildDmi{
    background-image: url('img/Shostakovich.png');
    background-position: 50% right;
}


/*------------------------------------------Kvinnliga kompositörer-----------------------------------*/

.HildegardavBingenBild, .BarbaraStrozziBild, .FannyMendelssohnBild, .ClaraSchumannBild, .EthelSmythBild, .AmyBeachBild
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    z-index: 2;
}

.HildegardavBingenText, .FannyMendelssohn, .EthelSmythBildText{
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.BarbaraStrozziText, .ClaraSchumannText, .AmyBeachText{
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    grid-template-rows: 1fr;
    grid-gap: 0;
    
}
.bildHil, .bildBar, .bildFan, .bildCla, .bildEth, .bildAmy {
    background-size: cover;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-position: center top right;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
} 

.bildHil:hover, .bildBar:hover, .bildFan:hover, .bildCla:hover, .bildEth:hover, .bildAmy:hover{
    transition: 0.5s ease;
    transform: scale(1.10);
    border: 5px solid white;
} 

.textHil, .textBar, .textFan, .textCla, .textEth, .textAmy{
    font-size: 25px;
    place-self: center;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}



.bildHil{
    background-image: url('./img/hay.png');
    background-position:  center;
}

.bildBar{
    background-image: url('./img/wof.png');
}
.bildFan{
    background-image: url('./img/bet.png');
    background-position: 40% center;
}
.bildCla{
    background-image: url('./img/gluck.png');
    background-position: 70% center;
}
.bildEth{
    background-image: url('./img/muz.png');
    background-position: 50% center;
}
.bildAmy{
    background-image: url('./img/mar.png');
}













.background-wien { /*background for barrock*/
    --s: 50px;
    --c: #5e430d;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#48330a 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}
/*----------WIEN-----------------*/
/*------ROMANTIKEN----------*/
.background-rom { /*background for ren*/
    height: 100%;
    margin: 0;
    --s: 50px;
    --c: #3d0909;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#310505 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

/*------ROMANTIKEN----------*/

.background-mod { /*background for barrock*/
    --s: 50px;
    --c: #443009;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#362608 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

/*--------------NAVBAR------------------*/
.navbar {
    display: flex;
    flex-direction: column;
    background-color: #1b6a00;
    padding: 10px;
  }
  .navbar-rom {
    display: flex;
    flex-direction: column;
    background-color: #800000;
    padding: 10px;
  }
  .navbar-bar {
    display: flex;
    flex-direction: column;
    background-color: #006d80;
    padding: 10px;
  }
  .navbar-wien {
    display: flex;
    flex-direction: column;
    background-color: #CD9119;
    padding: 10px;
    z-index: 2;
  }

  .navbar-mod{
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 86, 16);
    padding: 10px;
  }
  .navbar-kvinna{
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 16, 121);
    padding: 10px;
  }
  
  .navbar p, .navbar-bar p, .navbar-wien p, .navbar-rom p, .navbar-mod p  {
    margin: 0;
    color: black;
    font-size: 150px;
    margin-top: -40px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: bold;
  }
  .navbar-kvinna p{
    margin: 0;
    color: black;
    font-size: 140px;
    margin-top: -40px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: bold;
  }

  .navbar .top-left {
    order: -1;
  }

  .links-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }




.logo{
    width: 50px;
    border-radius: 50%;
}
.logo:hover, .arrow:hover, .arrowRight:hover{
    opacity: 0.5;
    
}

.arrow{
    width: 100px;
    border-radius: 50%;
    filter:invert(1);
}
.arrowRight{
    transform: rotate(180deg);
    width: 100px;
    border-radius: 50%;
    filter:invert(1);
}

/*--------------NAVBAR------------------*/

/*---------------MAIN-----------------*/

.main {
    background-color: rgba(20,18,18,255);

}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    }






    
.renässansen { 
    grid-area: 1 / 2 / 2 / 3; 
    position: relative;
    overflow: hidden;}
.renässansen img, .barocken img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%);
    object-position: center 18%;
}
.romantiken img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;  
    filter: grayscale(100%);
}
.modernismen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: center 12%;
    filter: grayscale(100%);
}
.wienklassicismen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: 2% 10%;
    filter: grayscale(100%);    

}
.kvinnor img{
    filter: grayscale(100%);
}

.kvinnor img:hover,.wienklassicismen img:hover, .modernismen img:hover, .romantiken img:hover,.renässansen img:hover, .barocken img:hover {
    filter: grayscale(0%);
    transition: 1000ms;
}



.barocken { grid-area: 1 / 3 / 2 / 4; }
.wienklassicismen { grid-area: 1 / 4 / 2 / 5; }

.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    }
.renText, .barText, .wienText, .romText, .modText, .kvinnorText{
    background-color: rgba(30, 28, 28, 0.628);
    color: rgb(239, 187, 92);
    font-weight: bold;
    margin-top: -200px;
    z-index: 1;
    pointer-events: none;
} 
.renText { 
    grid-area: 1 / 2 / 2 / 3; 
}
.barText { 
    grid-area: 1 / 3 / 2 / 4; 
}
.wienText { 
    grid-area: 1 / 4 / 2 / 5; 
}



.parent3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    }

.romantiken { grid-area: 1 / 2 / 2 / 3; }
.modernismen { grid-area: 1 / 3 / 2 / 4; }
.kvinnor { grid-area: 1 / 4 / 2 / 5; }


.parent4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    }

.romText { 
    grid-area: 1 / 2 / 2 / 3;}
.modText { 
    grid-area: 1 / 3 / 2 / 4;}
.kvinnorText { 
    grid-area: 1 / 4 / 2 / 5;
}





.renässansen,.barocken, .wienklassicismen, .romantiken, .modernismen, .kvinnor { 
  width: 500px;
  height: 300px;
  border-radius: 15px;
  cursor: pointer;
    
  
}

.renässansen:hover,
.barocken:hover,
.wienklassicismen:hover,
.romantiken:hover,
.modernismen:hover {
  transition: 1s;
  border-radius: 10px;
  transform: scale(1.05);
  
}
.renässansen:hover{
    box-shadow: 0 0 10px 5px rgba(119, 255, 0, 0.5);
}
.barocken:hover{
    box-shadow: 0 0 10px 5px rgba(0, 247, 255, 0.5);
}
.wienklassicismen:hover{
    box-shadow: 0 0 10px 5px rgba(251, 233, 33, 0.5);
}
.romantiken:hover{
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
}
.modernismen:hover{
    box-shadow: 0 0 10px 5px rgba(167, 120, 2, 0.5);
}



.renText, .barText, .wienText, .romText, .modText, .kvinnorText {
    width: 500px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 0;
}



.kvinnor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: center 2%;
}

.kvinnor:hover {
    transition: 1s;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(1.05);
}

.kvinnorText {
    width: 500px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 0;
}



